@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Updock&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 5% 95%;
    min-height: 100vh;
    /* height: auto; */
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: beige;
    /* justify-content: center; */
    align-items: center;
    padding: 1.5rem;
    border-right: 1px solid rgba(133, 133, 133, 0.4);
    height: auto;
}

.nav-logo {
    width: 100%;
    height: auto;
    border: 1px solid white;
    border-radius: 20rem;
    padding: 0.5rem;
}

.nav-logo:hover {
    background-color: white;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: auto;
}

Header {
    height: auto;
    padding: 0.3rem 0rem 0.5rem 1rem;
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
    font-size: 3rem;
    border-bottom: 1px solid rgba(133, 133, 133, 0.4);
}

.title-container {
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers entire area without distorting*/
    z-index: -1; /* Places the image behind the title */
}

.title {
    font-family: "Updock", cursive;
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
    text-decoration: underline;
    position: relative;
    z-index: 1;
    color: black;
    text-shadow: 
    1px 1px 0 white,
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white;
}

.content-div {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 2rem;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 4rem;
}

.card {
    height: auto;
    max-height: 30rem;
    flex: 1 1 calc(25% - 4rem);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for scaling */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Initial shadow for card */
}

.card:hover {
    transform: scale(1.05); /* Slightly enlarges the card on hover */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Enhances the shadow to make it more prominent */
}

.img-container {
    width: 100%;
    height: 15rem;
    overflow: hidden;
    /* object-fit: cover; */
}

.img-container .card-image {
    width: 100%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
}

.card-info {
    padding: 0rem 1rem 1rem 1rem;
}

.card-subtitle {
    /* text-align: center; */
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.card-description {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 1rem;
}

.card-price {
    font-size: 2.5rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding-bottom:1rem;
    color: #f2d608;
}

footer {
    height: auto;
    border-top: 1px solid rgba(133, 133, 133, 0.4);
    margin-top: auto;
    padding: 0.5rem 1rem 1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.fa {
    padding: 1rem;
    border-radius: 2rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}